---
import "../styles/global.css";
---

<!doctype html>
<html lang="hu" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>MIEF</title>
  </head>
  <body class="min-h-screen bg-slate-50 text-slate-900">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    min-height: 100%;
  }
</style>
